@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

#background {
    height: 725px;
    background-color: #c0c9e7;
}

.button-box {
    text-align: center;
}

body {
    background-color: #c0c9e7;
    font-family: 'Georgia', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.book {
    background-color: #2493d7;
    color: #fff7f1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #c0c9e7;
    color: black;
}

.camping-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #18a9a7;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

footer {
    background-color: #c0c9e7;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #fff7f1;
}

footer h3 {
    color: black;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}

header {
    background-color: #18a9a7;
}

#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.home-title {
    color: black;
    font-family: 'Neonderthaw', cursive, script;
    font-size: 2em;
    margin-top: 10px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.join {
    background-color: #2493d7;
    color: #fff7f1;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #c0c9e7;
    color: black;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.msg {
    background-color: #18a9a7;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: black;
    font-family: 'Neonderthaw', cursive, script;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

nav a {
    text-align: center;
    color: #fff7f1;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #c0c9e7;
    color: black;
}

.rapids-card {
    margin: 200px 0;
}

.rivers-card {
    margin: 200px 0;
}