@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Quicksand:wght@500&display=swap');

#about-me {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
}

#about-me h3 {
    padding-left: 10%;
}

#about-me p {
    padding-right: 10%;
}

#about-me-img {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    width: 75%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2978a0;
}

#banner-img {
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1/3;
    grid-row: 2/3;
}

body {
    background-color: #44cfcb;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 22px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #2978a0;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px;
    background-color: #44cfcb;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.logo {
    width: 125px;
}

#logo-link {
    justify-self: center;
    align-self: center;
    padding: 50% 10%;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #7b5e7b;
}

nav {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    background-color: #7b5e7b;
    max-height: 150px;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 50px;
    margin-bottom: -30px;
    font-size: 1.25em;
}

nav a:hover {
    background-color: #2978a0;
}

#title {
    font-family: 'Emilys Candy', cursive, script;
    justify-self: center;
    align-self: center;
    grid-column: 1/3;
    grid-row: 3/4;
}

#welcome {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

#welcome h2 {
    font-family: 'Emilys Candy', cursive, script;
    padding-left: 30%;
}

/* Gallery css */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin: 25px;
    padding: 0;
    background-color: #06d6a0;
    width: 80%;
    justify-self: center;
    align-self: center;
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 350px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    margin: 0;
    margin-bottom: 10px;
    background-color: #06d6a0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#gallery-title {
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
    font-family: 'Emilys Candy', cursive, script;
}

/* Contact Me css */

.contact-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#contact-img {
    grid-column: 2/4;
    grid-row: 2/5;
    z-index: -1;
    width: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    border-radius: 10px;
    opacity: 0.85;
}

#contact-msg {
    background-color: rgb(6, 214, 160, 0.7);
    grid-column: 3/5;
    grid-row: 3/4;
    padding: 20px 25px;
    justify-self: center;
    box-shadow: 5px 5px 10px #2978a0;
    border-radius: 10px;
}

#contact-msg h4:nth-of-type(1) {
    justify-self: center;
    align-self: center;
}

#contact-msg h4:nth-of-type(2) {
    justify-self: center;
    align-self: center;
    margin-left: 13%;
}

#contact-msg h4:nth-of-type(3) {
    justify-self: center;
    align-self: center;
    margin-left: 30%;
}

#contact-title {
    font-family: 'Emilys Candy', cursive, script;
    grid-column: 1/6;
    justify-self: center;
    align-self: center;
}

#feedback {
    background-color: #44cfcb;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    display: none;      
}

form {
    grid-column: 2/5;
    grid-row: 6/7;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

input, textarea {
    width: 100%;
    font: 1em;
    height: 3em;
    box-sizing: border-box;
    margin: 5px 0;
}

.button {
    grid-column: 1/6;
    grid-row: 7/8;
    justify-self: center;
    padding: 5px 10px;
}

.moveDown {
    margin-top: 3em;
}

textarea {
    height: 15em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}